/* ==============================
   Container
=============================== */

.main-container {
  position: relative;
  width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 1618px) {
  .main-container {
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 1525px) {
  .main-container {
    width: 1300px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 1410px) {
  .main-container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 1244px) {
  .main-container {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 1052px) {
  .main-container {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 848px) {
  .main-container {
    width: calc(100% - 40px);
  }
}
