:root {
  /* colors */
  --c-primary: #000B16;

  --c-grey: #C5C8CB;
  --c-grey-dark: #5b5b61;

  --c-white: #F9FCFF;
  --c-white-t-30: rgba(249, 252, 255, .3);

  /* other */
  --v-border-radius: 0px;
}
